In [52]:
import requests
import json
import os
import pandas as pd
import time

In [53]:
API_Key = "5f4e90c75eb6480283ecbbe8b78d66ca"
URL = "https://api.rawg.io/api/games"

In [54]:
def get_game_info(game):
    game_id = result["id"]
    game_name = result["name"]
    game_release_date = result["released"]
    game_rating = result["rating"]
    game_metacritic = result["metacritic"]
    game_playtime = result["playtime"]
    
    return game_id, game_name, game_release_date, game_rating, game_metacritic, game_playtime

In [55]:
df = pd.DataFrame(columns=["game_id", "game_name", "game_release_date", "game_rating", \
                           "game_metacritic","game_playtime"])

In [58]:
j = 0
for i in range(1,100):
    querystring = {"key": API_Key, "page": i}
    try:
        response = requests.request("GET", URL, params=querystring)
    except JSONDecodeError:
        break
    response = response.json()
    for result in response["results"]:
        game_id, game_name, game_release_date, game_rating, game_metacritic, game_playtime = get_game_info(result)
        df = df.append({"game_id": game_id, "game_name": game_name, "game_release_date": game_release_date, \
                        "game_rating": game_rating, "game_metacritic": game_metacritic, \
                        "game_playtime": game_playtime}, ignore_index=True)

In [59]:
df

,game_id,game_name,game_release_date,game_rating,game_metacritic,game_playtime
0,3498,Grand Theft Auto V,2013-09-17,4.47,92,73
1,3328,The Witcher 3: Wild Hunt,2015-05-18,4.66,92,46
2,4200,Portal 2,2011-04-18,4.62,95,11
3,5286,Tomb Raider (2013),2013-03-05,4.05,86,10
4,4291,Counter-Strike: Global Offensive,2012-08-21,3.56,81,65
...,...,...,...,...,...,...
3555,545033,Resident Evil Re:Verse,2022-10-28,1.60,None,1
3556,14101,Sakura Clicker,2015-07-29,2.54,None,1
3557,10239,Battlestations: Midway,2007-01-30,2.69,76,1
3558,20218,Canyon Capers,2014-04-25,1.87,None,3
3559,58815,Nioh 2,2020-03-13,4.09,85,0